* {
  box-sizing: border-box;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 0px 0px 1px;
  border-style: solid;
  border-color: #4249361a;
  background: #13131699;
  padding: 16px 32px;
  width: 1280px;
  height: 65px;
  backdrop-filter: blur(12px);

  .container {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 16px;

    .sBtiLogo {
      flex-shrink: 0;
      width: 32px;
      height: 32px;
      overflow: hidden;
    }

    .text {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 48px;
      height: 32px;
      line-height: 32px;
      letter-spacing: -1.2px;
      color: #84cc16;
      font-family: "Instrument Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .container2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 32px;

    .link {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-width: 0px 0px 2px;
      border-style: solid;
      border-color: #84cc16;
      padding-bottom: 2px;

      .text2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 44px;
        height: 24px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #84cc16;
        font-family: "Instrument Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .text3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 30px;
      height: 24px;
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #94a3b8;
      font-family: "Instrument Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .text4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 44px;
      height: 24px;
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #94a3b8;
      font-family: "Instrument Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }
}
