@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Instrument Sans", -apple-system, sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-lime-50: #f3fdeb;
  --color-lime-100: #e4fab3;
  --color-lime-200: #d0f588;
  --color-lime-300: #b5ed58;
  --color-lime-400: #9fe870;
  --color-lime-500: #78d343;
  --color-lime-600: #5aab2c;
  --color-lime-700: #448223;
  --color-lime-800: #376720;
  --color-lime-900: #2e551e;
  --color-lime-950: #15300b;
}

.dark {
  --ui-bg: #101114;
  --ui-bg-muted: #17181b;
  --ui-bg-elevated: #17181b;
  --ui-bg-accented: #2a2d31;
  --ui-border: #2a2d31;
}
